$TTL 86400
@   IN  SOA     primary.example.com. root.example.com. (
2014112511  ;Serial
3600        ;Refresh
1800        ;Retry
604800      ;Expire
86400       ;Minimum TTL
)
;Name Server Information
@      IN  NS      primary.example.com.
;IP address of Name Server
primary IN  A       10.1.2.200
;Mail exchanger
example.com. IN  MX 10   mail.example.com.
;A - Record HostName To Ip Address
master  IN  A       10.1.2.2
node1   IN  A       10.1.2.3
mail    IN  A       10.1.2.201
repo    IN  A       10.1.2.1
;CNAME record
